*{
    margin: 0;
    padding: 0;
}

a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    transition: .5s;

}

#menu a:hover{
    color: skyblue;
    background: none;
}   

#logo{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 30px;
}

#logo a:hover{
    background-color: none;
}

#header{
    box-sizing: border-box;
    height: 100px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(68, 4, 68);
}

#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a{
    display: block;
    padding: .5rem;
}

#btn-mobile{
    display: none;
}

@media (max-width: 600px){
    #btn-mobile{
        display: block;
    }
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 100px;
        right: 0px;
        background-color: #743c79da; 
        transition: .6s;
        height: 0px; 
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
        text-align: center;
    }
    #nav.active #menu{
        height: calc(100vh - 100px);
        visibility: visible;
        text-align: center;
    }

    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        color: white;
        border-bottom: 2px solid rgba(235, 235, 235, 0.05);
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        color: white;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburguer{
        width: 20px;
        border-top: 2px solid;
    }
    #hamburguer:after, #hamburguer:before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburguer{
        border-top-color: transparent;
    }
    #nav.active #hamburguer:before{
        transform: rotate(135deg);
    }
    #nav.active #hamburguer:after{
        transform: rotate(-135deg);
        top: -7px;
    }
}